/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log

/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.*
.deptrac*
!.env.example
.idea
composer.lock
inc/config.inc.php
inc/config.env.php
media/*
fiels/*
gens/*
cg/*
./files/
media/
gens/
cg/
.env.backup
.phpunit.result.cache
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
phpcs.log
docker-compose.override.yml
!/storage/api-docs/
/public/e6rg9kydufxw7du0xuxc/
